$primaryColor: #005f73;
$secondaryColor: #0a9396;
$accentColor: #94d2bd;
$greyColor: #ccc;
$menuColor: #001219;
$aboutBg: #e0fbfc;
$educationBg: #c2f5ff;
$goalsBg: #caf0f8;
$stackBg: #ade8f4;
$workBg: #90e0ef;
$contactBg: #48cae4;

$defaultFont: "Raleway", sans-serif;
$normalWeight: 400;
$lightWeight: 300;
$leading: 150%;

$gutter: 10px;
